@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background: #222;
    padding: 1rem;
    font-size: 1.6rem;
    font-family: 'Noto Sans JP', sans-serif;
}

.container {
    display: flex;
    width: 100%;
    flex-flow: wrap row;
    justify-content: center;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 2.4rem;
}

#intro {
    margin-top: 5%;
}

#caracteristiques > p {
    line-height: 3rem;
}